<div style="display: flex; flex-direction: row-reverse; background-color: cornflowerblue; width: 100vw;">
  <app-language-switcher></app-language-switcher>
</div>

<h1 i18n="welcome|Welcome Message to the overall site.">
  Hello and welcome to the test site for "Angular i18n"
</h1>

<div>
  <mat-form-field>
    <mat-label i18n="testInputLabel | label for test input">Test Input</mat-label>
    <input matInput type="text" [formControl]="this.testControl">
  </mat-form-field>
</div>

<button (click)="save()" i18n="saveButton | button denoting save action">Save</button>
